.search-container{
    display: flex;
    height: 2.5em;
}

.search-icon{
    display: flex;
    background-color: #4E73DF;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.icon-color{
    color: #D0D3E2;
}